<component name="libraryTable">
  <library name="logback-core-1.0.9">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-24/filestore/ch.qos.logback/logback-core/1.0.9/jar/41916886a1df068ad1dfea9bcc649a7b8ea4553e/logback-core-1.0.9.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-24/filestore/ch.qos.logback/logback-core/1.0.9/source/4511629c49389adc6192811b987b6e6b1b3189eb/logback-core-1.0.9-sources.jar!/" />
    </SOURCES>
  </library>
</component>