<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/fonts.css" />
    <script src="js/modernizr.js"></script>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/jersey.html">Jersey integration</a></li>
          <li><a href="/core.html">Building your own </a></li>
          <li><a href="/server.html">Testing your client</a></li>
      </ul>
    </nav>
    <section id="main">
      <article>
        <p>
        {{ content }}
        </p>
      </article>
    </section>
    <footer>
      This site is copyright 2013 Weald Technology Trading.  All rights reserved.
    </footer>
  </body>
</html>

