<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/main.css" />
    <script src="js/modernizr.js"></script>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <nav>
      <ul>
          <li><a href="/hawk">Home</a></li>
          <li><a href="/hawk/jersey.html">Jersey integration</a></li>
          <li><a href="/hawk/core.html">Building your own </a></li>
          <li><a href="/hawk/server.html">Testing your client</a></li>
      </ul>
    </nav>
    <section id="banner">
      <header>
        <h1>{{ page.title }}</h1>
      </header>
    </section>
    <section id="main">
      <article>
        <p>
        {{ content }}
        </p>
      </article>
    </section>
    <footer>
      <hr/>
      Hawk for Java is an implementation of the <a href="http://github.com/hueniverse/hawk">Hawk protocol</a>.
      <br/>
      This site is copyright 2013 Weald Technology Trading.  All assets except the Weald Technology logo are made available under the Apache version 2.0 license.
    </footer>
  </body>
</html>

